#footer {
    background-color: cornflowerblue;
    border-top: dashed 1px #F3F3F3;
    background-image: linear-gradient(to bottom, rgba(100, 149, 237, 0.9), rgba(100, 149, 237, 0.9)),
                      image-url('footer-bg.jpg');
    background-size: cover;
    background-position: center center;
    color: #F3F3F3;
    justify-content: space-evenly;
    box-sizing: border-box;
    padding: 50px;
    z-index: 2;
    display: inline-flex;
    width: 100vw;

    div {
        width: 200px;
    }

    ul {
        padding: 0;

        li {
            list-style-type: none;
            margin: 0;
        }
    }

    a, a:visited, a:active {
        text-decoration: none;
        color: #F3F3F3;
        font-weight: 100;
    }

    a:hover {
        text-decoration: underline;
    }
}