$main-color: cornflowerblue;

nav {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    box-sizing: border-box;

    h1 {
        font-size: 40px;
        margin-left: 30px;
        font-weight: 100;

        a:hover {
            text-decoration: none !important;
        }

        li {
            list-style-type: none;
            margin: 0;
            transition: all 0.2s;
            display: flex;
            align-items: center;
        }
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding: 0;
    }

    li {
        list-style-type: none;
        margin: 0 20px;
    }

    img {
        margin-left: 20px;
        height: 40px;
    }

    #login {
        width: 193px;
        height: 43px;
        background-image: url('http://localhost:3000/btn_google_signin_dark_normal_web.png');
        background-repeat: no-repeat;
    }

    #login:active {
        background-image: url('http://localhost:3000/btn_google_signin_dark_pressed_web.png')
    }

    #login:focus {
        background-image: url('http://localhost:3000/btn_google_signin_dark_focus_web.png')
    }

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .button {
        border: dashed 1px $main-color;
        padding: 10px;
        border-radius: 10px;
        font-weight: bolder;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        font {
            margin-right: 3px;
        }

        #download {
            color: lightgreen;
        }

        #download:hover {
            color: green;
            cursor: pointer;
        }

        #close {
            color: lightgrey;
        }

        #close:hover {
            color: grey;
            cursor: pointer;
        }

        span {
            font-size: 16px;
        }
    }

    .button:hover { 
        text-decoration: none;
        background-color: $main-color;
        color: #030303;
        transition: all 0.5s ease-in-out;
    }
    
    .white {
        color: #F3F3F3;
    }

    .black {
        color: #030303;
    }
}

