#spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 9000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    transition: all 0.3s;
}